In [3]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv("amazon_baby.csv")
df.head(5)

,name,review,rating
0,Planetwise Flannel Wipes,"These flannel wipes are OK, but in my opinion ...",3
1,Planetwise Wipe Pouch,it came early and was not disappointed. i love...,5
2,Annas Dream Full Quilt with 2 Shams,Very soft and comfortable and warmer than it l...,5
3,Stop Pacifier Sucking without tears with Thumb...,This is a product well worth the purchase. I ...,5
4,Stop Pacifier Sucking without tears with Thumb...,All of my kids have cried non-stop when I trie...,5

In [5]:
len(df)

1499

In [6]:
df['name'].value_counts()

Baby Trend Diaper Champ                                                                                                          333
Munchkin Mozart Magic Cube                                                                                                       191
Safety 1st Deluxe 4-in-1 Bath Station                                                                                            154
Summer Infant Ultimate Crib Sheet, 52&quot; x 28&quot;                                                                            62
Northstate Superyard Playgate Light Gray                                                                                          55
                                                                                                                                ...
Holy Family Baby Jesus and Star Nativity Christmas Tree Ornament                                                                   1
IKEA DUKTIG 15-piece breakfast set                                                                                                 1
Semanario (7) Little Girls 14k Gold Overlay Bangle Bracelets for Your Little Princess Sizes 1 - 4 (Size 2 - ages 9-24 Months)      1
Musical Christmas Nativity Scene Angel with Baby Jesus in a Rustic Barkwood Resin Manger 8&quot; Tall                              1
Baby Monitor - Direct Link Privacy Monitor                                                                                         1
Name: name, Length: 130, dtype: int64

In [7]:
# remove products having less reviews
df=df[df.groupby('name')["name"].transform('size')>20]

In [8]:
len(df)

990

In [9]:
df=df.head(900)
df

,name,review,rating
153,Fisher Price Nesting Action Vehicles,We bought these for our son when he turned two...,5
154,Fisher Price Nesting Action Vehicles,"My son loves stacking cups, so a friend recomm...",5
155,Fisher Price Nesting Action Vehicles,My son Cameron just loves these great little s...,5
156,Fisher Price Nesting Action Vehicles,My one year old son received these as a birthd...,5
157,Fisher Price Nesting Action Vehicles,I purchased this toy for my great grandson\'s ...,5
...,...,...,...
1370,Munchkin Mozart Magic Cube,This toy is great! 1 year old Son got it as a ...,5
1371,Munchkin Mozart Magic Cube,I purchased this for my special needs grandson...,5
1372,Munchkin Mozart Magic Cube,"Yep, we\'re on our third grandchild, second Mo...",5
1373,Munchkin Mozart Magic Cube,NaN,5
1374,Munchkin Mozart Magic Cube,My daughter got this for Christmas when she wa...,2

In [10]:
df['review']=df['review'].astype(str)

In [11]:
len(df)

900

In [12]:
def clean(txt):
    txt = txt.replace("()", "")
    txt = txt.replace('(<a).*(>).*()', '')
    txt = txt.replace('(&amp)', '')
    txt = txt.replace('(&gt)', '')
    txt = txt.replace('(&lt)', '')
    txt = txt.replace('(\xa0)', ' ')  
    txt = txt.replace('(\n)', ' ')
    txt = txt.replace('(\r)', ' ')
    txt = txt.replace('(\t)', ' ')
    return txt

In [13]:
df['review']=df['review'].apply(clean)

In [14]:
df['review1'] = df['review'].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [15]:
df['review1'].head(5)

153    we bought these for our son when he turned two...
154    my son loves stacking cups, so a friend recomm...
155    my son cameron just loves these great little s...
156    my one year old son received these as a birthd...
157    i purchased this toy for my great grandson\'s ...
Name: review1, dtype: object

In [16]:
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords 
stop = stopwords.words('english')
df['review1'] = df['review1'].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
df['review1'].head()

[nltk_data] Error loading stopwords: <urlopen error [Errno 11001]
[nltk_data]     getaddrinfo failed>

153    bought son turned two. seen playmate\'s home l...
154    son loves stacking cups, friend recommended to...
155    son cameron loves great little stacking cars! ...
156    one year old son received birthday gift. loves...
157    purchased toy great grandson\'s first christma...
Name: review1, dtype: object

In [17]:
from nltk.stem import PorterStemmer
st = PorterStemmer()
df['review1'] = df['review'].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

In [18]:
df['review1'].head(5)

153    we bought these for our son when he turn two. ...
154    my son love stack cups, so a friend recommend ...
155    my son cameron just love these great littl sta...
156    my one year old son receiv these as a birthday...
157    i purchas thi toy for my great grandson\' firs...
Name: review1, dtype: object

In [19]:
df.to_csv('amazon_baby_eda.csv')